* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
body {
  background-color: #f3f3f3;
  width: 100%;
}
.page__overlay {
  background-color: white;
  width: 85%;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #f3f3f3;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Logo {
  display: flex;
  align-items: center;
  width: 80px;
}
.main-nav {
  display: flex;
  gap: 40px;
}
.h__r_links {
  text-decoration: none;
  color: black;
}
.Moreplus {
  color: #ff764d;
}
.right-nav {
  display: flex;
  gap: 25px;
}
.right-nav a {
  text-decoration: none;
  color: black;
}
.right-nav a:nth-child(1) {
  color: #0000ff;
}
.right-nav a:nth-child(2) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.page__links {
  display: flex;
  gap: 40px;
  padding: 30px;
}
.page__links a {
  text-decoration: none;
  color: black;
}
.page__links a:nth-child(1) {
  color: #ff764d;
}
.hero__image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__section img {
  width: 80%;
}
.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 8rem;
}
.hero__text h2 {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  width: 45vw;
  padding-bottom: 30px;
}
.hero__text .b_words {
  color: #0000ff;
}
.hero__text p {
  width: 45vw;
  font-weight: 300;
}
