* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
body {
  background-color: #f3f3f3;
  width: 100%;
}
.page__overlay {
  display: flex;
  background-color: white;
  width: 85%;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #f3f3f3;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Logo {
  display: flex;
  align-items: center;
  width: 80px;
}
.mobile_menu {
  display: none;
}
.main-nav {
  display: flex;
  gap: 20px;
}
.h__r_links {
  text-decoration: none;
  color: black;
}
.Moreplus {
  color: #ff764d;
}
.right-nav {
  display: flex;
  gap: 20px;
}
.right-nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.right-nav a:nth-child(1) {
  color: #0000ff;
}
.right-nav a:nth-child(2) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}
.page__links {
  display: flex;
  gap: 40px;
  padding: 30px;
}
.page__links a {
  text-decoration: none;
  color: black;
}
.page__links a:nth-child(1) {
  color: #ff764d;
}
.hero__image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__section img {
  width: 80%;
  object-fit: cover;
  object-position: center;
}
.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 8rem;
  width: 80%;
}
.hero__text h2 {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;

  padding-bottom: 30px;
}
.hero__text .b_words {
  color: #0000ff;
}
.hero__text p {
  font-weight: 400;
}
@media only screen and (max-width: 1300px) {
  header {
    font-size: 13px;
  }
  .right-nav a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background-color: white;
  }
  .page__overlay {
    width: 95%;
  }
  .main-nav {
    display: none;
  }
  .right-nav {
    display: none;
  }
  .mobile_menu {
    display: block;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  .page__links {
    font-size: 13px;
  }
  .hero__text {
    width: 90%;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__text {
    width: 100%;
    padding: 4.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .hero__text {
    width: 100%;
    padding: 2rem;
  }
}
